HUBSPOT_PRIVATE_APP_TOKEN=
HUBSPOT_DEFAULT_OWNER_ID=
HUBSPOT_KRS_PIPELINE_ID=
HUBSPOT_KRS_DISCOVERY_STAGE_ID=
HUBSPOT_KRS_QUALIFIED_STAGE_ID=
HUBSPOT_ENABLE_DEAL_CREATION=false
HUBSPOT_ENABLE_COMPANY_CREATION=true
HUBSPOT_ENABLE_TICKET_CREATION=false
